---
import funbigoLogo from '../assets/Funbigo Logo White.svg';
import platformerImage from '../assets/Platformer Image.svg';

const homePageUrl = 'https://funbigo.com';
const googlePlayUrl = '/googlePlay';
const discordUrl = '/discord';
---

<main>
	<div class="content-wrapper">
		<section class="hero">
			<a href={homePageUrl} class="logo-link">
				<img src={funbigoLogo.src} width="115" height="48" alt="Funbigo Homepage"/>
			</a>

			<h2>Create and Play 2D Games</h2>
			<h1>on Mobile!</h1>

			<p>Create, play, and share 2D games directly on your phone or tablet without coding.</p>
			<p class="early-access">Now in early access!</p>

			<section class="links">
				<a class="button primary" href={googlePlayUrl}>Download on Google Play</a>
				<a class="button secondary" href={discordUrl}>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36">
						<path
							fill="currentColor"
							d="M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z">
						</path>
					</svg>
					Join our Discord
				</a>
			</section>
		</section>

		<section class="graphic-section">
			<img src={platformerImage.src} alt="Funbigo Graphic" class="graphic-img" />
		</section>
	</div>
</main>

<style>
	:global(html) {
		font-family: 'Lexend Deca', sans-serif;
	}

	main {
		color: white;
		background-image: linear-gradient(135deg, rgb(101, 89, 255) 0%, rgb(91, 191, 247) 100%);
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 1280px;
		width: 100%;
		padding: 40px 24px;
		gap: 40px;
	}

	.hero {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}

	.logo-link {
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 48px;
		margin-top: 0;
		margin-bottom: 0.6em;
		text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	}

	h2 {
		font-size: 32px;
		margin-bottom: 0.25em;
		text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	}

	p {
		font-size: 20px;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 0.4em;
		max-width: 460px;
	}

	.early-access {
		font-weight: bold;
	}

	.links {
		margin-top: 2em;
		display: flex;
		gap: 16px;
	}

	.links a svg {
		height: 1em;
		margin-right: 16px;
	}

	.button {
		font-size: 20px;
		display: flex;
		align-items: center;
		border-radius: 8px;
		padding: 16px 22px;
		text-decoration: none;
		transition: all 0.2s;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}

	.button:hover {
		transform: translateY(-2px);
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	}

	.secondary {
		color: white;
		background-color: rgba(255, 255, 255, 0.15);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.secondary:hover {
		background-color: rgba(255, 255, 255, 0.25);
	}

	.primary {
		color: #6559FF;
		background: white;
		font-weight: bold;
		letter-spacing: 0.05em;
	}

	.graphic-section {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.graphic-img {
		width: 100%;
		max-width: 550px;
		height: auto;
		border-radius: 12px;
		transition: none;
	}


	@media (min-width: 1024px) {
		.content-wrapper {
			flex-direction: row;
			align-items: center;
			gap: 100px;
			padding: 80px 40px;
		}

		.hero {
			flex-basis: 50%;
		}

		.graphic-section {
			flex-basis: 50%;
			display: block;
		}
	}

	@media (max-width: 740px) {
		.content-wrapper {
			padding: 40px 20px;
		}

		.hero {
			align-items: stretch;
		}

		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 24px;
		}

		p {
			font-size: 18px;
			line-height: 28px;
			max-width: 100%;
		}

		.links {
			flex-direction: column;
		}

		.links {
			align-items: stretch;
		}

		.button {
			font-size: 16px;
			display: flex;
			justify-content: center;
			padding: 12px 18px;
		}

		.graphic-img {
			max-width: 400px;
		}
	}
</style>