---
import {getFunbigoFileUrl, getProjectData} from "../../api";
import {FUNBIGO_GOOGLE_PLAY_URL, FUNBIGO_APP_PACKAGE_NAME, FUNBIGO_PLAY_HOST, FUNBIGO_SITE_NAME} from "../../consts";

export const prerender = false;

const { projectId } = Astro.params;

const projectData = await getProjectData(projectId);
if (!projectData) return Astro.redirect("/404");

const projectImageUrl = getFunbigoFileUrl(projectData.IconId);
const currentUrl = Astro.request.url;

const androidIntentUrl =
    `intent://project/${projectId}#Intent;` +
    "scheme=https;" +
    `host=${FUNBIGO_PLAY_HOST};` +
    `package=${FUNBIGO_APP_PACKAGE_NAME};` +
    `S.browser_fallback_url=${FUNBIGO_GOOGLE_PLAY_URL};` +
    "end";
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{projectData.Name}</title>
    
        <!-- Open Graph Tags (WhatsApp, Discord, Facebook) -->
        <meta property="og:title" content={projectData.Name} />
        <meta property="og:description" content={projectData.MetaData.shortDescription} />
        <meta property="og:image" content={projectImageUrl} />
        <meta property="og:url" content={currentUrl} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content={FUNBIGO_SITE_NAME} />
    
        <!-- Twitter Card Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={projectData.Name} />
        <meta name="twitter:description" content={projectData.MetaData.shortDescription} />
        <meta name="twitter:image" content={projectImageUrl} />

        <style>
            /* 1. Reset default browser margins and set root elements to 100% height */
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                overflow: hidden; /* Prevent body scrollbars */
            }

            /* 3. Set the iframe to fill its container */
            iframe {
                width: 100%;
                height: 100%;
                border: none;
                display: block; /* Removes any potential extra space beneath the iframe */
            }
        </style>
        
        <!-- Prevent zooming on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <iframe src="/FunbigoPlayUnity/index.html" title="Funbigo Game"></iframe>
    </body>
</html>
